# Réalisez une étude santé publique

In [1]:
## Question 1

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df1 = []

In [5]:
df1 = pd.read_csv("Q1.csv", usecols = ["Pays", "Valeur"])

In [6]:
df1

                                       Pays   Valeur
0                               Afghanistan    30552
1                            Afrique du Sud    52776
2                                   Albanie     3173
3                                   Algérie    39208
4                                 Allemagne    82727
5                                    Angola    21472
6                        Antigua-et-Barbuda       90
7                           Arabie saoudite    28829
8                                 Argentine    41446
9                                   Arménie     2977
10                                Australie    23343
11                                 Autriche     8495
12                              Azerbaïdjan     9413
13                                  Bahamas      377
14                               Bangladesh   156595
15                                  Barbade      285
16                                  Bélarus     9357
17                                 Belgique    11104
18                                   Belize      332
19                                    Bénin    10323
20                                 Bermudes       65
21          Bolivie (État plurinational de)    10671
22                       Bosnie-Herzégovine     3829
23                                 Botswana     2021
24                                   Brésil   200362
25                        Brunéi Darussalam      418
26                                 Bulgarie     7223
27                             Burkina Faso    16935
28                               Cabo Verde      499
29                                 Cambodge    15135
..                                      ...      ...
145                                 Sénégal    14133
146                                  Serbie     9511
147                            Sierra Leone     6092
148                               Slovaquie     5450
149                                Slovénie     2072
150                                  Soudan    37964
151                               Sri Lanka    21273
152                                   Suède     9571
153                                  Suisse     8078
154                                Suriname      539
155                                Eswatini     1250
156                             Tadjikistan     8208
157                                   Tchad    12825
158                           Tchéquie (la)    10702
159                               Thaïlande    67011
160                             Timor-Leste     1133
161                                    Togo     6817
162                       Trinité-et-Tobago     1341
163                                 Tunisie    10997
164                            Turkménistan     5240
165                                 Turquie    74933
166                                 Ukraine    45239
167                                 Uruguay     3407
168                                 Vanuatu      253
169  Venezuela (République bolivarienne du)    30405
170                                Viet Nam    91680
171                                   Yémen    24407
172                                  Zambie    14539
173                                Zimbabwe    14150
174                                   Chine  1416667

[175 rows x 2 columns]

In [7]:
df1['Valeur'].sum() * 1000

8413993000

- Ce chiffre est supérieur à la population mondiale officielle. Il englobe deux fois la chine continentale.

In [8]:
df1_wo_china = df1[df1['Pays'] != "Chine"]

In [9]:
mondial_pop = df1_wo_china['Valeur'].sum() * 1000
print(mondial_pop)

6997326000

- C'est une valeur plus conforme aux chiffres officiels (Source: https://www.prb.org/wp-content/uploads/2014/02/2013-population-data-sheet_french.pdf)

In [10]:
temp = pd.read_csv("pop.csv")

In [11]:
temp.columns = ['xx','xx2','country_code','country','xx3','element'
    ,'item_code','item','xx4',"year","unit","value",'xx5','xx6']

In [12]:
pop = temp.pivot_table(
    index=["country_code","country","item_code","item","year"],
    columns = ["element"], values=["value"], aggfunc=sum)

In [13]:
pop.columns = ['total_population']

In [14]:
pop.reset_index()
pop.query('country == "France"')

                                                total_population
country_code country item_code item       year
68           France  2501      Population 2013             64291

## Question 2

In [15]:
df2 = pd.read_csv("Q2.csv")

In [16]:
df2

,Code Domaine,Domaine,Code Pays,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.00,S,Données standardisées
1,FBS,Bilans Alimentaires,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.00,S,Données standardisées
2,FBS,Bilans Alimentaires,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.00,S,Données standardisées
3,FBS,Bilans Alimentaires,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.00,S,Données standardisées
4,FBS,Bilans Alimentaires,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.00,S,Données standardisées
5,FBS,Bilans Alimentaires,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.00,S,Données standardisées
6,FBS,Bilans Alimentaires,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.00,S,Données standardisées
7,FBS,Bilans Alimentaires,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.00,S,Données standardisées
8,FBS,Bilans Alimentaires,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.00,S,Données standardisées
9,FBS,Bilans Alimentaires,68,France,5154,Autres Utilisations,2511,Blé,2013,2013,Milliers de tonnes,2824.00,S,Données standardisées
10,FBS,Bilans Alimentaires,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.00,S,Données standardisées
11,FBS,Bilans Alimentaires,68,France,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé,2013,2013,kg,108.43,Fc,Donnée calculée
12,FBS,Bilans Alimentaires,68,France,664,Disponibilité alimentaire (Kcal/personne/jour),2511,Blé,2013,2013,Kcal/personne/jour,811.00,Fc,Donnée calculée
13,FBS,Bilans Alimentaires,68,France,674,Disponibilité de protéines en quantité (g/pers...,2511,Blé,2013,2013,g/personne/jour,25.99,Fc,Donnée calculée
14,FBS,Bilans Alimentaires,68,France,684,Disponibilité de matière grasse en quantité (g...,2511,Blé,2013,2013,g/personne/jour,4.20,Fc,Donnée calculée

- Disponibilité intérieure = Production + Importations - Exportations + Variation des stocks = Nourriture + Aliments pour animaux + Semences + Pertes + Traitement + Autres Utilisations

- Nourriture / population = Disponibilité alimentaire en quantité (kg par personne par an)

## Question 3

In [17]:
# Import des données des bilans alimentaires
veg = pd.read_csv("veg.csv")
ani = pd.read_csv("ani.csv")

# Ajout de la variable origin
ani["origin"] = "animal"
veg["origin"] = "vegetal"

# On regroupe veg et ani en un unique dataframe, via une union
temp = ani.append(veg)

# Suppression de ani et veg
del ani, veg

# On renomme les colonnes de temp
temp.columns = ["xx","xx2","country_code","country",'xx3','element'
    ,'item_code','item','xx4',"year","unit","value",'xx5','xx6'
    ,'origin']

# Transformation de temp en table pivot
data = temp.pivot_table(
    index=["country_code","country","item_code","item","year","origin"],
    columns = ["element"], values=["value"], aggfunc=sum)
# On renomme les colonnes (attention l'ordre peut changer selon vos données !)
data.columns = ['domestic_supply_quantity', 'export_quantity', 'fat_supply_quantity_gcapitaday',
    'feed', 'food', 'food_supply_kcalcapitaday', 
    'food_supply_quantity_kgcapitayr', 'import_quantity', 'waste', 'other_uses',
    'processing', 'production', 'protein_supply_quantity_gcapitaday', 
    'seed', 'stock_variation']
    
data = data.reset_index()
data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,food_supply_kcalcapitaday,food_supply_quantity_kgcapitayr,import_quantity,waste,other_uses,processing,production,protein_supply_quantity_gcapitaday,seed,stock_variation
0,1,Armenia,2511,Wheat and products,2013,vegetal,554.0,1.0,3.60,93.0,...,1024.0,130.60,361.0,32.0,0.0,10.0,312.0,30.52,30.0,-118.0
1,1,Armenia,2513,Barley and products,2013,vegetal,198.0,0.0,0.00,137.0,...,0.0,0.00,9.0,15.0,26.0,7.0,189.0,0.00,14.0,0.0
2,1,Armenia,2514,Maize and products,2013,vegetal,102.0,NaN,NaN,96.0,...,0.0,0.03,82.0,7.0,NaN,NaN,21.0,0.01,0.0,NaN
3,1,Armenia,2515,Rye and products,2013,vegetal,1.0,NaN,0.00,1.0,...,1.0,0.12,0.0,0.0,NaN,NaN,1.0,0.02,0.0,0.0
4,1,Armenia,2516,Oats,2013,vegetal,6.0,NaN,0.03,4.0,...,2.0,0.37,1.0,0.0,NaN,NaN,5.0,0.09,0.0,NaN

In [18]:
data = data.merge(pop, on=['country'])
data = data.replace([np.inf, -np.inf], np.nan).dropna(subset=["food_supply_kcalcapitaday"], how="all")
data = data.replace([np.inf, -np.inf], np.nan).dropna(subset=["protein_supply_quantity_gcapitaday"], how="all")
data = data.replace([np.inf, -np.inf], np.nan).dropna(subset=["food_supply_quantity_kgcapitayr"], how="all")

In [19]:
data['total_kcal'] = data['food_supply_kcalcapitaday'] * 365 * data['total_population'] * 1000

In [20]:
data['total_protein_kg'] = (data['protein_supply_quantity_gcapitaday'] / 1000) * 365 * data['total_population'] * 1000
data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,waste,other_uses,processing,production,protein_supply_quantity_gcapitaday,seed,stock_variation,total_population,total_kcal,total_protein_kg
0,1,Armenia,2511,Wheat and products,2013,vegetal,554.0,1.0,3.60,93.0,...,32.0,0.0,10.0,312.0,30.52,30.0,-118.0,2977,1.112684e+12,33163184.60
1,1,Armenia,2513,Barley and products,2013,vegetal,198.0,0.0,0.00,137.0,...,15.0,26.0,7.0,189.0,0.00,14.0,0.0,2977,0.000000e+00,0.00
2,1,Armenia,2514,Maize and products,2013,vegetal,102.0,NaN,NaN,96.0,...,7.0,NaN,NaN,21.0,0.01,0.0,NaN,2977,0.000000e+00,10866.05
3,1,Armenia,2515,Rye and products,2013,vegetal,1.0,NaN,0.00,1.0,...,0.0,NaN,NaN,1.0,0.02,0.0,0.0,2977,1.086605e+09,21732.10
4,1,Armenia,2516,Oats,2013,vegetal,6.0,NaN,0.03,4.0,...,0.0,NaN,NaN,5.0,0.09,0.0,NaN,2977,2.173210e+09,97794.45

## Question 4

In [21]:
data['kcal/kg'] = data['food_supply_kcalcapitaday'] * 365 / data['food_supply_quantity_kgcapitayr']
data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,other_uses,processing,production,protein_supply_quantity_gcapitaday,seed,stock_variation,total_population,total_kcal,total_protein_kg,kcal/kg
0,1,Armenia,2511,Wheat and products,2013,vegetal,554.0,1.0,3.60,93.0,...,0.0,10.0,312.0,30.52,30.0,-118.0,2977,1.112684e+12,33163184.60,2861.868300
1,1,Armenia,2513,Barley and products,2013,vegetal,198.0,0.0,0.00,137.0,...,26.0,7.0,189.0,0.00,14.0,0.0,2977,0.000000e+00,0.00,NaN
2,1,Armenia,2514,Maize and products,2013,vegetal,102.0,NaN,NaN,96.0,...,NaN,NaN,21.0,0.01,0.0,NaN,2977,0.000000e+00,10866.05,0.000000
3,1,Armenia,2515,Rye and products,2013,vegetal,1.0,NaN,0.00,1.0,...,NaN,NaN,1.0,0.02,0.0,0.0,2977,1.086605e+09,21732.10,3041.666667
4,1,Armenia,2516,Oats,2013,vegetal,6.0,NaN,0.03,4.0,...,NaN,NaN,5.0,0.09,0.0,NaN,2977,2.173210e+09,97794.45,1972.972973

In [22]:
temp = data[data['item'].str.contains("Eggs")]

In [23]:
# valeur nutritionnelle pour 100g
egg_ve = temp.replace([np.inf, -np.inf], np.nan).dropna(subset=["kcal/kg"], how="all")
egg_ve['kcal/kg'].mean()/10

136.47554180345907

- ce chiffre est inférieur en moyenne dans le monde à la valeur de 147 kcal pour un oeuf de poule entier cru donné par Wikipedia (https://fr.wikipedia.org/wiki/Œuf_(aliment))

In [24]:
data['protein_percentage'] = ((data['protein_supply_quantity_gcapitaday'] * 1000 * 365) / (data['food'] * 1000000)) * 100

In [25]:
data.head(20)

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,processing,production,protein_supply_quantity_gcapitaday,seed,stock_variation,total_population,total_kcal,total_protein_kg,kcal/kg,protein_percentage
0,1,Armenia,2511,Wheat and products,2013,vegetal,554.0,1.0,3.60,93.0,...,10.0,312.0,30.52,30.0,-118.0,2977,1.112684e+12,33163184.60,2861.868300,2.863702
1,1,Armenia,2513,Barley and products,2013,vegetal,198.0,0.0,0.00,137.0,...,7.0,189.0,0.00,14.0,0.0,2977,0.000000e+00,0.00,NaN,NaN
2,1,Armenia,2514,Maize and products,2013,vegetal,102.0,NaN,NaN,96.0,...,NaN,21.0,0.01,0.0,NaN,2977,0.000000e+00,10866.05,0.000000,inf
3,1,Armenia,2515,Rye and products,2013,vegetal,1.0,NaN,0.00,1.0,...,NaN,1.0,0.02,0.0,0.0,2977,1.086605e+09,21732.10,3041.666667,inf
4,1,Armenia,2516,Oats,2013,vegetal,6.0,NaN,0.03,4.0,...,NaN,5.0,0.09,0.0,NaN,2977,2.173210e+09,97794.45,1972.972973,3.285000
7,1,Armenia,2520,"Cereals, Other",2013,vegetal,21.0,0.0,0.04,1.0,...,NaN,17.0,0.39,1.0,0.0,2977,1.521247e+10,423775.95,2607.142857,2.372500
8,1,Armenia,2531,Potatoes and products,2013,vegetal,672.0,9.0,0.12,225.0,...,78.0,661.0,1.94,123.0,15.0,2977,8.910161e+10,2108013.70,663.636364,0.528433
16,1,Armenia,2549,"Pulses, Other and products",2013,vegetal,3.0,0.0,NaN,3.0,...,NaN,0.0,0.00,NaN,NaN,2977,0.000000e+00,0.00,NaN,NaN
17,1,Armenia,2551,Nuts and products,2013,vegetal,6.0,1.0,1.76,NaN,...,NaN,5.0,0.42,NaN,0.0,2977,1.955889e+10,456374.10,3055.813953,2.555000
19,1,Armenia,2556,Groundnuts (Shelled Eq),2013,vegetal,1.0,0.0,0.55,NaN,...,NaN,NaN,0.29,NaN,0.0,2977,6.519630e+09,315115.45,5475.000000,10.585000
21,1,Armenia,2558,Rape and Mustardseed,2013,vegetal,0.0,NaN,0.00,0.0,...,NaN,NaN,0.00,NaN,NaN,2977,0.000000e+00,0.00,NaN,NaN
22,1,Armenia,2560,Coconuts - Incl Copra,2013,vegetal,0.0,0.0,0.03,NaN,...,NaN,NaN,0.00,NaN,0.0,2977,0.000000e+00,0.00,0.000000,NaN
23,1,Armenia,2561,Sesame seed,2013,vegetal,0.0,NaN,0.01,NaN,...,NaN,NaN,0.00,NaN,NaN,2977,0.000000e+00,0.00,0.000000,NaN
24,1,Armenia,2563,Olives (including preserved),2013,vegetal,3.0,1.0,0.28,NaN,...,NaN,NaN,0.03,NaN,NaN,2977,3.259815e+09,32598.15,1190.217391,0.365000
28,1,Armenia,2573,Sunflowerseed Oil,2013,vegetal,30.0,0.0,24.38,NaN,...,NaN,1.0,0.04,NaN,0.0,2977,2.347067e+11,43464.20,8908.474576,0.056154
37,1,Armenia,2586,"Oilcrops Oil, Other",2013,vegetal,2.0,0.0,0.02,NaN,...,0.0,NaN,0.00,NaN,0.0,2977,0.000000e+00,0.00,0.000000,NaN
38,1,Armenia,2601,Tomatoes and products,2013,vegetal,273.0,3.0,0.48,NaN,...,NaN,276.0,1.94,NaN,0.0,2977,4.455080e+10,2108013.70,169.863791,0.270267
39,1,Armenia,2602,Onions,2013,vegetal,53.0,0.0,0.10,NaN,...,NaN,45.0,0.53,NaN,0.0,2977,1.629908e+10,575900.65,311.610700,0.372019
40,1,Armenia,2605,"Vegetables, Other",2013,vegetal,764.0,6.0,1.18,13.0,...,NaN,764.0,6.66,NaN,0.0,2977,1.553845e+11,7236789.30,214.599951,0.335760
41,1,Armenia,2611,"Oranges, Mandarines",2013,vegetal,14.0,1.0,0.01,NaN,...,NaN,NaN,0.07,NaN,0.0,2977,4.346420e+09,76062.35,305.439331,0.182500

In [26]:
temp = data[data['item'].str.contains("Oats")]

In [27]:
temp = temp.replace([np.inf, -np.inf], np.nan).dropna(subset=["protein_percentage"], how="all")

In [28]:
temp = temp[temp['protein_supply_quantity_gcapitaday'] > 0]

In [29]:
temp['protein_percentage'].mean()

2.080560270459758

- La teneur en protéine de l'avoine est en moyenne de 2,1%

## Question 5

In [30]:
temp = data.replace([np.inf, -np.inf], np.nan).dropna(subset=["kcal/kg"], how="all")
temp.pivot_table(
    index=["item_code","item","year","origin"],
    values=["kcal/kg"], aggfunc=np.mean).sort_values(by='kcal/kg', ascending=False).head(20)

                                                     kcal/kg
item_code item                     year origin
2579      Sesameseed Oil           2013 vegetal  9559.523810
2582      Maize Germ Oil           2013 vegetal  8950.891229
2580      Olive Oil                2013 vegetal  8774.038462
2573      Sunflowerseed Oil        2013 vegetal  8769.634357
2571      Soyabean Oil             2013 vegetal  8739.687728
2577      Palm Oil                 2013 vegetal  8682.340531
2586      Oilcrops Oil, Other      2013 vegetal  8417.429666
2581      Ricebran Oil             2013 vegetal  8264.150943
2574      Rape and Mustard Oil     2013 vegetal  8238.956406
2578      Coconut Oil              2013 vegetal  7912.109869
2575      Cottonseed Oil           2013 vegetal  7708.151847
2576      Palmkernel Oil           2013 vegetal  7654.792329
2737      Fats, Animals, Raw       2013 animal   7562.536349
2572      Groundnut Oil            2013 vegetal  7208.090833
2781      Fish, Body Oil           2013 animal   7133.945055
2740      Butter, Ghee             2013 animal   6973.406757
2562      Palm kernels             2013 vegetal  5475.000000
2556      Groundnuts (Shelled Eq)  2013 vegetal  5466.240153
2561      Sesame seed              2013 vegetal  5144.359508
2633      Cocoa Beans and products 2013 vegetal  4342.347542

- Parmi les 20 aliments les plus caloriques, on peut citer toutes les huiles, les graisses animales, les cacahuètes et le beurre

In [31]:
temp = data.replace([np.inf, -np.inf], np.nan).dropna(subset=["protein_percentage"], how="all")
temp.pivot_table(
    index=["item_code","item","year","origin"],
    values=["protein_percentage"], aggfunc=np.mean).sort_values(by='protein_percentage', ascending=False).head(20)

                                                   protein_percentage
item_code item                       year origin
2734      Poultry Meat               2013 animal            12.341237
2731      Bovine Meat                2013 animal            11.315274
2733      Pigmeat                    2013 animal            10.015137
2763      Pelagic Fish               2013 animal             9.496129
2549      Pulses, Other and products 2013 vegetal            8.985490
2764      Marine Fish, Other         2013 animal             8.773284
2511      Wheat and products         2013 vegetal            7.620493
2736      Offals, Edible             2013 animal             6.747166
2556      Groundnuts (Shelled Eq)    2013 vegetal            6.529279
2744      Eggs                       2013 animal             6.449286
2805      Rice (Milled Equivalent)   2013 vegetal            6.409195
2555      Soyabeans                  2013 vegetal            5.855895
2762      Demersal Fish              2013 animal             5.741086
2547      Peas                       2013 vegetal            5.626240
2546      Beans                      2013 vegetal            5.362527
2732      Mutton & Goat Meat         2013 animal             4.518095
2735      Meat, Other                2013 animal             4.448258
2765      Crustaceans                2013 animal             4.147485
2514      Maize and products         2013 vegetal            3.441944
2848      Milk - Excluding Butter    2013 animal             3.427677

- Parmi les 20 aliments les plus riches en protéines, on peut citer:
    les viandes & poissons, les lentilles, la farine, le soja, les noix

## Question 6

In [32]:
vegetals = data[data['origin'] == "vegetal"]

## Question 7

In [33]:
(vegetals['total_kcal'].sum()/(1819*365))/1000000000

7.754478344145135

In [34]:
(vegetals['total_kcal'].sum()/(2500*365))/1000000000

5.6421584432

- La disponibilité intérieure mondiale de produits végétaux permettrait de nourrir 7,75 milliards de personnes
(à raison d'un apport de 1819 Calories nécessaires par jour et par personne pour assurer une activité physique légère et maintenir un poids minimum acceptable.) source: http://www.fao.org/3/i3434f/i3434f02.pdf
- Et 5,6 milliards pour un apport moyen de 2500 Calories

In [35]:
(vegetals['total_kcal'].sum()/(2500*365)) / mondial_pop * 100

80.63306530523231

- Soit 80,6% de la population mondiale

In [36]:
(vegetals['total_protein_kg'].sum()/(0.04*365))/1000000000

8.601666658250002

- La disponibilité intérieure mondiale de protéines végétales est suffisante pour 8,6 milliards de personnes
(à raison d'un apport moyen de 40g de protéines par jour et par personne) source: http://www.fao.org/3/x0081f/X0081F0p.htm

In [51]:
(vegetals['total_protein_kg'].sum()/(0.04*365))/ mondial_pop * 100

122.92791072261036

- Soit 123 % de la population mondiale

## Question 8

In [37]:
temp = vegetals.copy()
temp = temp.replace([np.inf, -np.inf], np.nan).dropna(subset=["kcal/kg"], how="all")
temp['total_food_kcal'] = (temp['food'] + temp['feed'] + temp['waste']) * 1000000 * temp['kcal/kg']
temp['total_food_kcal'].sum()/(2500*365)/1000000000

6.726453395149421

- En additionant, les quantités de nourriture d'origine végétale destinées à l'alimentation humaine et animale avec la nourriture gaspillée, on pourrait nourrir 6,7 milliards de personnes

In [38]:
(temp['total_food_kcal'].sum()/(2500*365)) / mondial_pop * 100

96.12891260389212

- Soit 96,1 % de la population mondiale

## Question 9

In [39]:
temp = data.copy()
temp = temp.replace([np.inf, -np.inf], np.nan).dropna(subset=["kcal/kg"], how="all")
temp['total_food_kcal'] = (temp['food']) * 1000000 * temp['kcal/kg']
temp['total_food_kcal'].sum()/(2500*365)/1000000000

7.087250976795807

In [40]:
(temp['total_food_kcal'].sum()/(2500*365)) / mondial_pop *100

101.285133446631

- Soit un peu plus de la totalité des êtres humains sur la planète !

## Question 10

In [41]:
df10 = pd.read_csv("Q10.csv", usecols = ["Produit", "Valeur"])

In [42]:
(df10['Valeur'] * 1000 / pop['total_population'].sum()) * 100

0    11.67829
Name: Valeur, dtype: float64

- Le pourcentage de la population mondiale en situation de sous-nutrition est de 11.7 %

## Question 11

In [43]:
# Liste des codes produit classés par la FAO dans la catégorie Céréales
cereals = [2511, 2513, 2514, 2515, 2516, 2517, 2518, 2520, 2805]

for item_code in cereals:
    data['is_cereal'] = np.where(data['item_code'] == item_code, True, False)

# Test if values have been updated as wanted
data.query('item_code == 2805')

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,production,protein_supply_quantity_gcapitaday,seed,stock_variation,total_population,total_kcal,total_protein_kg,kcal/kg,protein_percentage,is_cereal
87,1,Armenia,2805,Rice (Milled Equivalent),2013,vegetal,10.0,0.0,0.11,0.0,...,NaN,0.66,NaN,0.0,2977,3.694457e+10,7.171593e+05,3902.515723,2.676667,True
147,2,Afghanistan,2805,Rice (Milled Equivalent),2013,vegetal,461.0,NaN,0.27,NaN,...,342.0,2.70,14.0,NaN,30552,1.572359e+12,3.010900e+07,3723.950796,0.233531,True
239,3,Albania,2805,Rice (Milled Equivalent),2013,vegetal,25.0,0.0,0.16,0.0,...,0.0,1.34,0.0,0.0,3173,7.875386e+10,1.551914e+06,3190.231362,1.956400,True
332,4,Algeria,2805,Rice (Milled Equivalent),2013,vegetal,118.0,0.0,0.04,2.0,...,0.0,0.57,0.0,0.0,39208,4.293276e+11,8.157224e+06,3686.868687,0.177821,True
412,7,Angola,2805,Rice (Milled Equivalent),2013,vegetal,337.0,0.0,0.12,NaN,...,25.0,1.56,1.0,0.0,21472,6.426570e+11,1.222616e+07,3685.960591,0.327241,True
503,8,Antigua and Barbuda,2805,Rice (Milled Equivalent),2013,vegetal,1.0,NaN,0.52,NaN,...,NaN,2.28,NaN,-1.0,90,3.613500e+09,7.489800e+04,4244.186047,83.220000,True
596,9,Argentina,2805,Rice (Milled Equivalent),2013,vegetal,452.0,561.0,0.23,NaN,...,1043.0,1.81,26.0,-41.0,41446,1.361501e+12,2.738130e+07,3745.724059,0.181497,True
691,10,Australia,2805,Rice (Milled Equivalent),2013,vegetal,388.0,488.0,0.18,NaN,...,774.0,1.93,8.0,-55.0,23343,8.605397e+11,1.644398e+07,3342.248413,0.273043,True
786,11,Austria,2805,Rice (Milled Equivalent),2013,vegetal,36.0,4.0,0.07,0.0,...,NaN,0.68,NaN,0.0,8495,1.116243e+11,2.108459e+06,3551.351351,0.800645,True
876,12,Bahamas,2805,Rice (Milled Equivalent),2013,vegetal,11.0,0.0,0.49,NaN,...,NaN,4.85,NaN,0.0,377,3.343802e+10,6.673842e+05,3700.250313,19.669444,True
968,14,Barbados,2805,Rice (Milled Equivalent),2013,vegetal,5.0,0.0,0.60,0.0,...,NaN,3.48,NaN,0.0,285,1.768425e+10,3.620070e+05,3962.324393,31.755000,True
1062,16,Bangladesh,2805,Rice (Milled Equivalent),2013,vegetal,30432.0,1.0,3.78,1031.0,...,34350.0,32.14,788.0,-4177.0,156595,9.779593e+13,1.837032e+09,3636.609794,0.043623,True
1143,17,Bermuda,2805,Rice (Milled Equivalent),2013,vegetal,1.0,NaN,0.13,NaN,...,NaN,1.01,NaN,0.0,65,1.281150e+09,2.396225e+04,3663.568773,inf,True
1236,19,Bolivia (Plurinational State of),2805,Rice (Milled Equivalent),2013,vegetal,314.0,2.0,0.47,3.0,...,295.0,5.65,7.0,-13.0,10671,1.113946e+12,2.200627e+07,3867.728788,0.716059,True
1330,20,Botswana,2805,Rice (Milled Equivalent),2013,vegetal,15.0,10.0,0.14,NaN,...,NaN,1.27,NaN,0.0,2021,5.089888e+10,9.368346e+05,3567.280453,3.311071,True
1426,21,Brazil,2805,Rice (Milled Equivalent),2013,vegetal,8198.0,814.0,0.54,NaN,...,7843.0,6.44,120.0,451.0,200362,2.384107e+13,4.709709e+08,3703.392468,0.036517,True
1515,23,Belize,2805,Rice (Milled Equivalent),2013,vegetal,12.0,0.0,0.45,NaN,...,14.0,5.47,0.0,-2.0,332,3.344568e+10,6.628546e+05,3544.686840,22.183889,True
1593,25,Solomon Islands,2805,Rice (Milled Equivalent),2013,vegetal,49.0,0.0,1.36,0.0,...,3.0,10.90,0.0,0.0,561,1.275686e+11,2.231938e+06,3566.420954,11.051389,True
1688,26,Brunei Darussalam,2805,Rice (Milled Equivalent),2013,vegetal,44.0,0.0,1.84,7.0,...,1.0,13.56,0.0,8.0,418,1.142749e+11,2.068849e+06,3565.736272,15.466875,True
1781,27,Bulgaria,2805,Rice (Milled Equivalent),2013,vegetal,24.0,41.0,0.12,5.0,...,37.0,0.54,2.0,0.0,7223,6.854627e+10,1.423653e+06,4236.607143,1.231875,True
1866,28,Myanmar,2805,Rice (Milled Equivalent),2013,vegetal,19596.0,512.0,5.50,7882.0,...,19188.0,28.87,556.0,900.0,53259,2.398839e+13,5.612194e+08,3391.641566,0.148983,True
1960,32,Cameroon,2805,Rice (Milled Equivalent),2013,vegetal,721.0,1.0,0.23,NaN,...,129.0,4.23,6.0,-163.0,22254,1.941328e+12,3.435906e+07,3657.651992,0.290763,True
2056,33,Canada,2805,Rice (Milled Equivalent),2013,vegetal,496.0,140.0,0.25,NaN,...,NaN,2.54,NaN,0.0,35182,1.733593e+12,3.261723e+07,3895.256917,0.208337,True
2138,35,Cabo Verde,2805,Rice (Milled Equivalent),2013,vegetal,40.0,0.0,0.67,NaN,...,NaN,9.39,NaN,4.0,499,8.869974e+10,1.710248e+06,3646.256410,14.280625,True
2223,37,Central African Republic,2805,Rice (Milled Equivalent),2013,vegetal,36.0,0.0,0.11,NaN,...,25.0,1.49,1.0,3.0,4616,1.297327e+11,2.510412e+06,3803.112314,1.599559,True
2318,38,Sri Lanka,2805,Rice (Milled Equivalent),2013,vegetal,2613.0,11.0,1.43,0.0,...,3082.0,20.24,61.0,-481.0,21273,8.246053e+12,1.571564e+08,3532.901932,0.316521,True
2391,39,Chad,2805,Rice (Milled Equivalent),2013,vegetal,159.0,0.0,0.15,NaN,...,220.0,2.08,7.0,-62.0,12825,5.055615e+11,9.736740e+06,3646.623497,0.546187,True
2484,40,Chile,2805,Rice (Milled Equivalent),2013,vegetal,203.0,0.0,0.14,NaN,...,87.0,1.70,2.0,0.0,17620,5.530918e+11,1.093321e+07,3546.892655,0.397756,True
2580,44,Colombia,2805,Rice (Milled Equivalent),2013,vegetal,1562.0,0.0,0.47,29.0,...,1367.0,5.63,67.0,49.0,48321,5.026592e+12,9.929724e+07,3712.526767,0.151769,True
2669,46,Congo,2805,Rice (Milled Equivalent),2013,vegetal,95.0,0.0,0.23,NaN,...,1.0,3.18,0.0,50.0,4448,2.662573e+11,5.162794e+06,3625.681405,1.590000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12989,211,Switzerland,2805,Rice (Milled Equivalent),2013,vegetal,120.0,1.0,0.05,100.0,...,NaN,0.45,NaN,0.0,8078,7.076328e+10,1.326812e+06,3604.938272,0.821250,True
13047,213,Turkmenistan,2805,Rice (Milled Equivalent),2013,vegetal,67.0,NaN,0.21,NaN,...,67.0,2.02,8.0,NaN,5240,2.065608e+11,3.863452e+06,3606.587374,1.293509,True
13140,214,"China, Taiwan Province of",2805,Rice (Milled Equivalent),2013,vegetal,1171.0,10.0,0.85,65.0,...,1063.0,8.07,10.0,0.0,23330,3.704221e+12,6.871968e+07,3462.922574,0.275285,True
13236,215,United Republic of Tanzania,2805,Rice (Milled Equivalent),2013,vegetal,1178.0,53.0,0.29,NaN,...,1464.0,3.92,56.0,-357.0,49253,3.667378e+12,7.047119e+07,3544.026654,0.138242,True
13331,216,Thailand,2805,Rice (Milled Equivalent),2013,vegetal,13605.0,6860.0,2.50,2405.0,...,24054.0,19.97,606.0,-3638.0,67011,2.785882e+13,4.884465e+08,3628.654971,0.094947,True
13421,217,Togo,2805,Rice (Milled Equivalent),2013,vegetal,188.0,6.0,0.90,NaN,...,64.0,5.47,4.0,-21.0,6817,6.369805e+11,1.361048e+07,3595.228934,1.127994,True
13512,220,Trinidad and Tobago,2805,Rice (Milled Equivalent),2013,vegetal,24.0,6.0,0.67,1.0,...,2.0,3.68,0.0,0.0,1341,8.761424e+10,1.801231e+06,3988.705739,6.105455,True
13606,221,Oman,2805,Rice (Milled Equivalent),2013,vegetal,218.0,16.0,1.08,1.0,...,NaN,10.38,NaN,0.0,3632,7.397294e+11,1.376056e+07,3601.591512,1.848146,True
13698,222,Tunisia,2805,Rice (Milled Equivalent),2013,vegetal,12.0,0.0,0.01,NaN,...,NaN,0.21,NaN,0.0,10997,4.415296e+10,8.429200e+05,3752.336449,0.638750,True
13791,223,Turkey,2805,Rice (Milled Equivalent),2013,vegetal,833.0,9.0,0.21,NaN,...,600.0,1.69,9.0,0.0,74933,2.653003e+12,4.622242e+07,3296.554935,0.076627,True
13883,225,United Arab Emirates,2805,Rice (Milled Equivalent),2013,vegetal,854.0,272.0,1.08,2.0,...,NaN,10.33,NaN,-51.0,9346,1.893266e+12,3.523863e+07,3601.333333,0.716816,True
13978,226,Uganda,2805,Rice (Milled Equivalent),2013,vegetal,188.0,71.0,0.07,NaN,...,143.0,0.87,6.0,0.0,37579,6.172351e+11,1.193321e+07,3539.870690,0.182500,True
14073,229,United Kingdom,2805,Rice (Milled Equivalent),2013,vegetal,457.0,205.0,0.13,7.0,...,NaN,1.28,NaN,0.0,63384,1.573191e+12,2.961300e+07,3884.194053,0.115358,True
14164,230,Ukraine,2805,Rice (Milled Equivalent),2013,vegetal,145.0,21.0,0.06,NaN,...,97.0,0.54,5.0,0.0,45239,4.788548e+11,8.916607e+06,3528.333333,0.146000,True
14259,231,United States of America,2805,Rice (Milled Equivalent),2013,vegetal,3119.0,3522.0,0.08,NaN,...,5745.0,1.33,109.0,-27.0,320051,8.410940e+12,1.553688e+08,3819.767442,0.022036,True
14347,233,Burkina Faso,2805,Rice (Milled Equivalent),2013,vegetal,434.0,3.0,0.30,34.0,...,204.0,3.92,5.0,-249.0,16935,1.279524e+12,2.423060e+07,3525.664956,0.394160,True
14440,234,Uruguay,2805,Rice (Milled Equivalent),2013,vegetal,74.0,879.0,0.21,NaN,...,907.0,2.29,17.0,45.0,3407,1.442524e+11,2.847741e+06,3681.739130,2.143205,True
14523,235,Uzbekistan,2805,Rice (Milled Equivalent),2013,vegetal,127.0,0.0,0.07,2.0,...,227.0,0.69,7.0,-100.0,28934,3.907537e+11,7.287028e+06,3489.664083,0.224866,True
14619,236,Venezuela (Bolivarian Republic of),2805,Rice (Milled Equivalent),2013,vegetal,1019.0,0.0,0.37,260.0,...,583.0,4.43,17.0,-42.0,30405,2.485913e+12,4.916336e+07,3495.510902,0.227419,True
14700,237,Viet Nam,2805,Rice (Milled Equivalent),2013,vegetal,21391.0,6951.0,4.60,2712.0,...,29374.0,28.34,881.0,-1034.0,91680,4.651385e+13,9.483471e+08,3509.615385,0.078051,True
14791,238,Ethiopia,2805,Rice (Milled Equivalent),2013,vegetal,212.0,0.0,0.04,NaN,...,123.0,0.40,NaN,0.0,94101,7.556310e+11,1.373875e+07,3568.888889,0.068868,True
14867,244,Samoa,2805,Rice (Milled Equivalent),2013,vegetal,1.0,0.0,0.13,NaN,...,NaN,1.10,NaN,0.0,190,4.299700e+09,7.628500e+04,3759.136213,40.150000,True
14960,249,Yemen,2805,Rice (Milled Equivalent),2013,vegetal,436.0,2.0,0.34,NaN,...,NaN,3.40,NaN,0.0,24407,1.576814e+12,3.028909e+07,3721.486175,0.292689,True
15053,251,Zambia,2805,Rice (Milled Equivalent),2013,vegetal,47.0,0.0,0.05,NaN,...,30.0,0.57,1.0,0.0,14539,1.592020e+11,3.024839e+06,3590.163934,0.472841,True
15148,255,Belgium,2805,Rice (Milled Equivalent),2013,vegetal,162.0,276.0,0.19,64.0,...,NaN,1.62,NaN,18.0,11104,3.647664e+11,6.565795e+06,3815.331010,0.615938,True
15241,256,Luxembourg,2805,Rice (Milled Equivalent),2013,vegetal,2.0,0.0,0.12,0.0,...,NaN,0.84,NaN,NaN,530,8.511800e+09,1.624980e+05,3823.809524,15.330000,True
15333,272,Serbia,2805,Rice (Milled Equivalent),2013,vegetal,12.0,1.0,0.03,NaN,...,NaN,0.23,NaN,0.0,9511,4.165818e+10,7.984484e+05,3590.163934,0.699583,True
15422,273,Montenegro,2805,Rice (Milled Equivalent),2013,vegetal,1.0,0.0,0.04,NaN,...,NaN,0.42,NaN,NaN,621,4.986630e+09,9.519930e+04,3584.821429,15.330000,True
15506,276,Sudan,2805,Rice (Milled Equivalent),2013,vegetal,49.0,NaN,0.05,NaN,...,17.0,0.28,1.0,0.0,37964,1.939960e+11,3.879921e+06,4023.622047,0.212917,True
15603,351,China,2805,Rice (Milled Equivalent),2013,vegetal,135024.0,565.0,2.68,12117.0,...,136873.0,14.47,4679.0,-3998.0,1416667,4.121155e+14,7.482198e+09,3756.036152,0.004813,True

In [44]:
data.query('item_code == 2543')

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,production,protein_supply_quantity_gcapitaday,seed,stock_variation,total_population,total_kcal,total_protein_kg,kcal/kg,protein_percentage,is_cereal
520,9,Argentina,2543,"Sweeteners, Other",2013,vegetal,279.0,83.0,NaN,NaN,...,351.0,0.01,NaN,0.0,41446,9.984341e+11,151277.90,3579.494799,0.001308,False
710,11,Austria,2543,"Sweeteners, Other",2013,vegetal,294.0,332.0,NaN,NaN,...,429.0,0.01,NaN,0.0,8495,1.116243e+11,31006.75,2939.597315,0.009605,False
1349,21,Brazil,2543,"Sweeteners, Other",2013,vegetal,142.0,11.0,NaN,NaN,...,96.0,0.00,NaN,NaN,200362,4.387928e+11,0.00,3268.656716,0.000000,False
1705,27,Bulgaria,2543,"Sweeteners, Other",2013,vegetal,40.0,156.0,NaN,NaN,...,164.0,0.00,NaN,0.0,7223,3.954592e+10,0.00,2310.126582,0.000000,False
1979,33,Canada,2543,"Sweeteners, Other",2013,vegetal,539.0,316.0,NaN,NaN,...,396.0,0.01,NaN,0.0,35182,1.219936e+12,128414.30,2284.255599,0.000684,False
2241,38,Sri Lanka,2543,"Sweeteners, Other",2013,vegetal,8.0,2.0,0.00,NaN,...,NaN,0.00,NaN,1.0,21273,3.105858e+10,0.00,4055.555556,0.000000,False
2408,40,Chile,2543,"Sweeteners, Other",2013,vegetal,57.0,12.0,NaN,NaN,...,NaN,0.00,NaN,0.0,17620,1.414886e+11,0.00,2788.194444,0.000000,False
2689,48,Costa Rica,2543,"Sweeteners, Other",2013,vegetal,9.0,0.0,NaN,NaN,...,NaN,0.00,NaN,0.0,4872,3.200904e+10,0.00,3386.597938,0.000000,False
3406,57,Belarus,2543,"Sweeteners, Other",2013,vegetal,12.0,1.0,NaN,NaN,...,1.0,0.00,NaN,NaN,9357,4.098366e+10,0.00,3532.258065,0.000000,False
3969,67,Finland,2543,"Sweeteners, Other",2013,vegetal,65.0,5.0,NaN,NaN,...,15.0,0.00,NaN,0.0,5426,4.753176e+10,0.00,2546.511628,0.000000,False
4064,68,France,2543,"Sweeteners, Other",2013,vegetal,1614.0,342.0,NaN,28.0,...,1341.0,0.00,NaN,0.0,64291,2.581284e+11,0.00,2048.469388,0.000000,False
4596,79,Germany,2543,"Sweeteners, Other",2013,vegetal,1072.0,697.0,NaN,NaN,...,609.0,0.00,NaN,0.0,82727,3.502661e+12,0.00,3576.013514,0.000000,False
4688,80,Bosnia and Herzegovina,2543,"Sweeteners, Other",2013,vegetal,35.0,36.0,NaN,0.0,...,19.0,0.00,NaN,NaN,3829,2.795170e+10,0.00,1689.814815,0.000000,False
4947,84,Greece,2543,"Sweeteners, Other",2013,vegetal,86.0,15.0,NaN,NaN,...,35.0,0.00,NaN,0.0,11128,3.249376e+10,0.00,2263.565891,0.000000,False
5580,96,"China, Hong Kong SAR",2543,"Sweeteners, Other",2013,vegetal,19.0,3.0,0.14,NaN,...,1.0,0.04,NaN,0.0,7204,6.836596e+10,105178.40,3707.031250,0.081111,False
5767,98,Croatia,2543,"Sweeteners, Other",2013,vegetal,39.0,243.0,NaN,0.0,...,91.0,0.03,NaN,12.0,4290,1.033461e+11,46975.50,2656.008820,0.028077,False
5952,100,India,2543,"Sweeteners, Other",2013,vegetal,170.0,161.0,NaN,NaN,...,301.0,0.00,NaN,0.0,1252140,4.570311e+11,0.00,3041.666667,0.000000,False
6048,101,Indonesia,2543,"Sweeteners, Other",2013,vegetal,621.0,63.0,0.07,NaN,...,440.0,0.02,NaN,0.0,249866,1.276815e+12,1824021.80,3452.702703,0.001973,False
6143,102,Iran (Islamic Republic of),2543,"Sweeteners, Other",2013,vegetal,22.0,2.0,NaN,NaN,...,NaN,0.00,NaN,0.0,77447,2.826816e+10,0.00,2281.250000,0.000000,False
6321,104,Ireland,2543,"Sweeteners, Other",2013,vegetal,142.0,28.0,NaN,NaN,...,5.0,0.00,NaN,0.0,4627,2.026626e+11,0.00,2480.181200,0.000000,False
6507,106,Italy,2543,"Sweeteners, Other",2013,vegetal,193.0,340.0,NaN,NaN,...,355.0,0.00,NaN,0.0,60990,1.780908e+11,0.00,2317.460317,0.000000,False
6789,109,Jamaica,2543,"Sweeteners, Other",2013,vegetal,12.0,3.0,NaN,NaN,...,NaN,0.00,NaN,0.0,2784,2.642016e+10,0.00,2137.387387,0.000000,False
6884,110,Japan,2543,"Sweeteners, Other",2013,vegetal,1412.0,17.0,NaN,NaN,...,1275.0,0.08,NaN,NaN,127144,4.037458e+12,3712604.80,3018.536122,0.002184,False
7408,117,Republic of Korea,2543,"Sweeteners, Other",2013,vegetal,800.0,236.0,NaN,NaN,...,849.0,0.11,NaN,30.0,49263,2.355510e+12,1977909.45,2964.352139,0.005057,False
7592,119,Latvia,2543,"Sweeteners, Other",2013,vegetal,23.0,10.0,NaN,NaN,...,1.0,0.00,NaN,0.0,2050,5.911175e+10,0.00,2538.292254,0.000000,False
7971,126,Lithuania,2543,"Sweeteners, Other",2013,vegetal,49.0,36.0,NaN,4.0,...,36.0,0.00,NaN,5.0,3017,9.470363e+10,0.00,2306.392359,0.000000,False
8153,129,Madagascar,2543,"Sweeteners, Other",2013,vegetal,11.0,0.0,NaN,NaN,...,9.0,0.00,NaN,NaN,22925,8.367625e+09,0.00,760.416667,0.000000,False
8338,131,Malaysia,2543,"Sweeteners, Other",2013,vegetal,60.0,98.0,0.02,NaN,...,42.0,0.01,NaN,7.0,29717,9.762034e+10,108467.05,2907.079646,0.010735,False
8885,138,Mexico,2543,"Sweeteners, Other",2013,vegetal,1682.0,148.0,NaN,NaN,...,220.0,0.08,NaN,0.0,122332,3.884653e+12,3572094.40,3047.504798,0.002292,False
10252,162,Norway,2543,"Sweeteners, Other",2013,vegetal,84.0,9.0,NaN,NaN,...,4.0,0.00,NaN,0.0,5043,4.049529e+10,0.00,523.127036,0.000000,False
10347,165,Pakistan,2543,"Sweeteners, Other",2013,vegetal,31.0,40.0,NaN,NaN,...,57.0,0.00,NaN,0.0,182143,6.648220e+10,0.00,2147.058824,0.000000,False
10441,166,Panama,2543,"Sweeteners, Other",2013,vegetal,10.0,0.0,NaN,NaN,...,1.0,0.01,NaN,0.0,3864,3.243828e+10,14103.60,3120.817844,0.036500,False
10535,167,Czechia,2543,"Sweeteners, Other",2013,vegetal,146.0,95.0,NaN,NaN,...,54.0,0.01,NaN,0.0,10702,1.523430e+11,39062.30,2099.557522,0.005000,False
10628,169,Paraguay,2543,"Sweeteners, Other",2013,vegetal,6.0,0.0,0.00,NaN,...,NaN,0.00,NaN,NaN,6802,1.241365e+10,0.00,1921.052632,0.000000,False
10818,171,Philippines,2543,"Sweeteners, Other",2013,vegetal,303.0,13.0,0.04,NaN,...,NaN,0.01,NaN,0.0,98394,4.309657e+11,359138.10,2517.241379,0.002135,False
10910,173,Poland,2543,"Sweeteners, Other",2013,vegetal,244.0,154.0,NaN,NaN,...,105.0,0.00,NaN,0.0,38217,6.974602e+10,0.00,2607.142857,0.000000,False
11325,183,Romania,2543,"Sweeteners, Other",2013,vegetal,77.0,38.0,NaN,NaN,...,39.0,0.01,NaN,-15.0,21699,1.663228e+11,79201.35,3128.571429,0.006887,False
11930,194,Saudi Arabia,2543,"Sweeteners, Other",2013,vegetal,7.0,35.0,NaN,NaN,...,NaN,0.00,NaN,0.0,28829,2.104517e+10,0.00,3476.190476,0.000000,False
12292,199,Slovakia,2543,"Sweeteners, Other",2013,vegetal,87.0,231.0,NaN,NaN,...,220.0,0.03,NaN,0.0,5450,1.770432e+11,59677.50,2237.258953,0.013861,False
12387,202,South Africa,2543,"Sweeteners, Other",2013,vegetal,89.0,42.0,NaN,NaN,...,77.0,0.00,NaN,0.0,52776,2.504221e+11,0.00,2807.692308,0.000000,False
12482,203,Spain,2543,"Sweeteners, Other",2013,vegetal,104.0,142.0,NaN,NaN,...,79.0,0.00,NaN,8.0,46927,8.564178e+10,0.00,2683.823529,0.000000,False
12913,211,Switzerland,2543,"Sweeteners, Other",2013,vegetal,50.0,154.0,NaN,NaN,...,33.0,0.00,NaN,36.0,8078,9.140257e+10,0.00,3125.690608,0.000000,False
13065,214,"China, Taiwan Province of",2543,"Sweeteners, Other",2013,vegetal,74.0,84.0,NaN,NaN,...,123.0,0.00,NaN,1.0,23330,2.214017e+11,0.00,3261.168385,0.000000,False
13255,216,Thailand,2543,"Sweeteners, Other",2013,vegetal,147.0,62.0,NaN,NaN,...,117.0,0.00,NaN,0.0,67011,5.136393e+11,0.00,3516.055046,0.000000,False
13439,220,Trinidad and Tobago,2543,"Sweeteners, Other",2013,vegetal,4.0,0.0,NaN,NaN,...,NaN,0.00,NaN,0.0,1341,1.468395e+10,0.00,3590.163934,0.000000,False
13716,223,Turkey,2543,"Sweeteners, Other",2013,vegetal,-39.0,162.0,NaN,NaN,...,72.0,0.00,NaN,7.0,74933,2.735054e+10,0.00,2281.250000,0.000000,False
13997,229,United Kingdom,2543,"Sweeteners, Other",2013,vegetal,785.0,183.0,NaN,NaN,...,307.0,0.00,NaN,1.0,63384,2.776219e+11,0.00,2281.250000,0.000000,False
14183,231,United States of America,2543,"Sweeteners, Other",2013,vegetal,10757.0,2731.0,NaN,NaN,...,12775.0,0.17,NaN,-25.0,320051,3.212512e+13,19859164.55,3198.693435,0.000618,False
14365,234,Uruguay,2543,"Sweeteners, Other",2013,vegetal,27.0,0.0,NaN,NaN,...,1.0,0.02,NaN,0.0,3407,7.834396e+10,24871.10,2936.781609,0.027037,False
14543,236,Venezuela (Bolivarian Republic of),2543,"Sweeteners, Other",2013,vegetal,27.0,0.0,NaN,NaN,...,NaN,0.00,NaN,NaN,30405,8.878260e+10,0.00,3318.181818,0.000000,False
15072,255,Belgium,2543,"Sweeteners, Other",2013,vegetal,447.0,339.0,NaN,NaN,...,28.0,0.01,NaN,NaN,11104,9.321808e+10,40529.60,2215.039578,0.008690,False
15526,351,China,2543,"Sweeteners, Other",2013,vegetal,201.0,1173.0,0.00,NaN,...,1201.0,0.00,NaN,1.0,1416667,5.170835e+11,0.00,2607.142857,0.000000,False

In [45]:
temp = data[data['is_cereal'] == True]

temp['feed'].sum() / (temp['feed'].sum() + temp['food'].sum()) * 100

8.162745635371978

- La part de l'alimentation en céréales destinée aux animaux est de 8,2% de l'alimentation totale

## Question 14

- En thaïlande, 6,1 millions de personnes sont sous alimentées en 2013

In [46]:
pop.query('country == "Thailand"')

                                                 total_population
country_code country  item_code item       year
216          Thailand 2501      Population 2013             67011

In [47]:
(6100000/(67011000)) * 100

9.102983092328126

- Soit 9.1 % de la population de ce pays.

In [48]:
temp = data[data['item'].str.contains("Cassava")]

In [49]:
temp = temp.query('country == "Thailand"')

In [50]:
temp['export_quantity'] / temp['production'] * 100

13248    83.41273
dtype: float64

- La proportion de manioc exportée de Thaïlande est de 83.4 %