# Réalisez une étude santé publique

In [1]:
## Question 1

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df1 = []

In [5]:
df1 = pd.read_csv("Q1.csv", usecols = ["Pays", "Valeur"])

In [6]:
df1

                                       Pays   Valeur
0                               Afghanistan    30552
1                            Afrique du Sud    52776
2                                   Albanie     3173
3                                   Algérie    39208
4                                 Allemagne    82727
5                                    Angola    21472
6                        Antigua-et-Barbuda       90
7                           Arabie saoudite    28829
8                                 Argentine    41446
9                                   Arménie     2977
10                                Australie    23343
11                                 Autriche     8495
12                              Azerbaïdjan     9413
13                                  Bahamas      377
14                               Bangladesh   156595
15                                  Barbade      285
16                                  Bélarus     9357
17                                 Belgique    11104
18                                   Belize      332
19                                    Bénin    10323
20                                 Bermudes       65
21          Bolivie (État plurinational de)    10671
22                       Bosnie-Herzégovine     3829
23                                 Botswana     2021
24                                   Brésil   200362
25                        Brunéi Darussalam      418
26                                 Bulgarie     7223
27                             Burkina Faso    16935
28                               Cabo Verde      499
29                                 Cambodge    15135
..                                      ...      ...
145                                 Sénégal    14133
146                                  Serbie     9511
147                            Sierra Leone     6092
148                               Slovaquie     5450
149                                Slovénie     2072
150                                  Soudan    37964
151                               Sri Lanka    21273
152                                   Suède     9571
153                                  Suisse     8078
154                                Suriname      539
155                                Eswatini     1250
156                             Tadjikistan     8208
157                                   Tchad    12825
158                           Tchéquie (la)    10702
159                               Thaïlande    67011
160                             Timor-Leste     1133
161                                    Togo     6817
162                       Trinité-et-Tobago     1341
163                                 Tunisie    10997
164                            Turkménistan     5240
165                                 Turquie    74933
166                                 Ukraine    45239
167                                 Uruguay     3407
168                                 Vanuatu      253
169  Venezuela (République bolivarienne du)    30405
170                                Viet Nam    91680
171                                   Yémen    24407
172                                  Zambie    14539
173                                Zimbabwe    14150
174                                   Chine  1416667

[175 rows x 2 columns]

In [7]:
df1['Valeur'].sum() * 1000

8413993000

- Ce chiffre est supérieur à la population mondiale officielle. Il englobe deux fois la chine continentale.

In [8]:
df1_wo_china = df1[df1['Pays'] != "Chine"]

In [9]:
df1_wo_china['Valeur'].sum() * 1000

6997326000

- C'est une valeur plus conforme aux chiffres officiels (Source: https://www.prb.org/wp-content/uploads/2014/02/2013-population-data-sheet_french.pdf)

In [10]:
temp = pd.read_csv("pop.csv")

In [11]:
temp.columns = ['xx','xx2','country_code','country','xx3','element'
    ,'item_code','item','xx4',"year","unit","value",'xx5','xx6']

In [12]:
pop = temp.pivot_table(
    index=["country_code","country","item_code","item","year"],
    columns = ["element"], values=["value"], aggfunc=sum)

In [13]:
pop.columns = ['total_population']

In [14]:
pop.reset_index()
pop.query('country == "France"')

                                                total_population
country_code country item_code item       year
68           France  2501      Population 2013             64291

## Question 2

In [15]:
df2 = pd.read_csv("Q2.csv")

In [16]:
df2

,Code Domaine,Domaine,Code Pays,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.00,S,Données standardisées
1,FBS,Bilans Alimentaires,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.00,S,Données standardisées
2,FBS,Bilans Alimentaires,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.00,S,Données standardisées
3,FBS,Bilans Alimentaires,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.00,S,Données standardisées
4,FBS,Bilans Alimentaires,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.00,S,Données standardisées
5,FBS,Bilans Alimentaires,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.00,S,Données standardisées
6,FBS,Bilans Alimentaires,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.00,S,Données standardisées
7,FBS,Bilans Alimentaires,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.00,S,Données standardisées
8,FBS,Bilans Alimentaires,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.00,S,Données standardisées
9,FBS,Bilans Alimentaires,68,France,5154,Autres Utilisations,2511,Blé,2013,2013,Milliers de tonnes,2824.00,S,Données standardisées
10,FBS,Bilans Alimentaires,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.00,S,Données standardisées
11,FBS,Bilans Alimentaires,68,France,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé,2013,2013,kg,108.43,Fc,Donnée calculée
12,FBS,Bilans Alimentaires,68,France,664,Disponibilité alimentaire (Kcal/personne/jour),2511,Blé,2013,2013,Kcal/personne/jour,811.00,Fc,Donnée calculée
13,FBS,Bilans Alimentaires,68,France,674,Disponibilité de protéines en quantité (g/pers...,2511,Blé,2013,2013,g/personne/jour,25.99,Fc,Donnée calculée
14,FBS,Bilans Alimentaires,68,France,684,Disponibilité de matière grasse en quantité (g...,2511,Blé,2013,2013,g/personne/jour,4.20,Fc,Donnée calculée

- Disponibilité intérieure = Production + Importations - Exportations + Variation des stocks = Nourriture + Aliments pour animaux + Semences + Pertes + Traitement + Autres Utilisations

- Nourriture / population = Disponibilité alimentaire en quantité (kg par personne par an)

## Question 3

In [17]:
# Import des données des bilans alimentaires
veg = pd.read_csv("veg.csv")
ani = pd.read_csv("ani.csv")

# Ajout de la variable origin
ani["origin"] = "animal"
veg["origin"] = "vegetal"

# On regroupe veg et ani en un unique dataframe, via une union
temp = ani.append(veg)

# Suppression de ani et veg
del ani, veg

# On renomme les colonnes de temp
temp.columns = ["xx","xx2","country_code","country",'xx3','element'
    ,'item_code','item','xx4',"year","unit","value",'xx5','xx6'
    ,'origin']

# Transformation de temp en table pivot
data = temp.pivot_table(
    index=["country_code","country","item_code","item","year","origin"],
    columns = ["element"], values=["value"], aggfunc=sum)
# On renomme les colonnes (attention l'ordre peut changer selon vos données !)
data.columns = ['domestic_supply_quantity', 'export_quantity', 'fat_supply_quantity_gcapitaday',
    'feed', 'food', 'food_supply_kcalcapitaday', 
    'food_supply_quantity_kgcapitayr', 'import_quantity', 'waste', 'other_uses',
    'processing', 'production', 'protein_supply_quantity_gcapitaday', 
    'seed', 'stock_variation']
    
data = data.reset_index()
data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,food_supply_kcalcapitaday,food_supply_quantity_kgcapitayr,import_quantity,waste,other_uses,processing,production,protein_supply_quantity_gcapitaday,seed,stock_variation
0,1,Armenia,2511,Wheat and products,2013,vegetal,554.0,1.0,3.60,93.0,...,1024.0,130.60,361.0,32.0,0.0,10.0,312.0,30.52,30.0,-118.0
1,1,Armenia,2513,Barley and products,2013,vegetal,198.0,0.0,0.00,137.0,...,0.0,0.00,9.0,15.0,26.0,7.0,189.0,0.00,14.0,0.0
2,1,Armenia,2514,Maize and products,2013,vegetal,102.0,NaN,NaN,96.0,...,0.0,0.03,82.0,7.0,NaN,NaN,21.0,0.01,0.0,NaN
3,1,Armenia,2515,Rye and products,2013,vegetal,1.0,NaN,0.00,1.0,...,1.0,0.12,0.0,0.0,NaN,NaN,1.0,0.02,0.0,0.0
4,1,Armenia,2516,Oats,2013,vegetal,6.0,NaN,0.03,4.0,...,2.0,0.37,1.0,0.0,NaN,NaN,5.0,0.09,0.0,NaN

In [18]:
data = data.merge(pop, on=['country'])

In [19]:
data['total_kcal'] = data['food_supply_kcalcapitaday'] * 365 * data['total_population'] * 1000

In [20]:
data['total_protein_kg'] = data['protein_supply_quantity_gcapitaday'] * 1000 * 365 * data['total_population'] * 1000
data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,waste,other_uses,processing,production,protein_supply_quantity_gcapitaday,seed,stock_variation,total_population,total_kcal,total_protein_kg
0,1,Armenia,2511,Wheat and products,2013,vegetal,554.0,1.0,3.60,93.0,...,32.0,0.0,10.0,312.0,30.52,30.0,-118.0,2977,1.112684e+12,3.316318e+13
1,1,Armenia,2513,Barley and products,2013,vegetal,198.0,0.0,0.00,137.0,...,15.0,26.0,7.0,189.0,0.00,14.0,0.0,2977,0.000000e+00,0.000000e+00
2,1,Armenia,2514,Maize and products,2013,vegetal,102.0,NaN,NaN,96.0,...,7.0,NaN,NaN,21.0,0.01,0.0,NaN,2977,0.000000e+00,1.086605e+10
3,1,Armenia,2515,Rye and products,2013,vegetal,1.0,NaN,0.00,1.0,...,0.0,NaN,NaN,1.0,0.02,0.0,0.0,2977,1.086605e+09,2.173210e+10
4,1,Armenia,2516,Oats,2013,vegetal,6.0,NaN,0.03,4.0,...,0.0,NaN,NaN,5.0,0.09,0.0,NaN,2977,2.173210e+09,9.779445e+10

## Question 4

In [21]:
data['kcal/kg'] = data['food_supply_kcalcapitaday'] * 365 / data['food_supply_quantity_kgcapitayr']
data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,other_uses,processing,production,protein_supply_quantity_gcapitaday,seed,stock_variation,total_population,total_kcal,total_protein_kg,kcal/kg
0,1,Armenia,2511,Wheat and products,2013,vegetal,554.0,1.0,3.60,93.0,...,0.0,10.0,312.0,30.52,30.0,-118.0,2977,1.112684e+12,3.316318e+13,2861.868300
1,1,Armenia,2513,Barley and products,2013,vegetal,198.0,0.0,0.00,137.0,...,26.0,7.0,189.0,0.00,14.0,0.0,2977,0.000000e+00,0.000000e+00,NaN
2,1,Armenia,2514,Maize and products,2013,vegetal,102.0,NaN,NaN,96.0,...,NaN,NaN,21.0,0.01,0.0,NaN,2977,0.000000e+00,1.086605e+10,0.000000
3,1,Armenia,2515,Rye and products,2013,vegetal,1.0,NaN,0.00,1.0,...,NaN,NaN,1.0,0.02,0.0,0.0,2977,1.086605e+09,2.173210e+10,3041.666667
4,1,Armenia,2516,Oats,2013,vegetal,6.0,NaN,0.03,4.0,...,NaN,NaN,5.0,0.09,0.0,NaN,2977,2.173210e+09,9.779445e+10,1972.972973

In [22]:
temp = data[data['item'].str.contains("Eggs")]

In [23]:
# valeur nutritionnelle pour 100g
egg_ve = temp.replace([np.inf, -np.inf], np.nan).dropna(subset=["kcal/kg"], how="all")
egg_ve['kcal/kg'].mean()/10

136.48177721733776

- ce chiffre est inférieur en moyenne dans le monde à la valeur de 147 kcal pour un oeuf de poule entier cru donné par Wikipedia (https://fr.wikipedia.org/wiki/Œuf_(aliment))

In [24]:
data['protein_percentage'] = ((data['protein_supply_quantity_gcapitaday'] * 1000 * 365) / (data['food'] * 1000000)) * 100

In [25]:
data.head(20)

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,processing,production,protein_supply_quantity_gcapitaday,seed,stock_variation,total_population,total_kcal,total_protein_kg,kcal/kg,protein_percentage
0,1,Armenia,2511,Wheat and products,2013,vegetal,554.0,1.0,3.60,93.0,...,10.0,312.0,30.52,30.0,-118.0,2977,1.112684e+12,3.316318e+13,2861.868300,2.863702
1,1,Armenia,2513,Barley and products,2013,vegetal,198.0,0.0,0.00,137.0,...,7.0,189.0,0.00,14.0,0.0,2977,0.000000e+00,0.000000e+00,NaN,NaN
2,1,Armenia,2514,Maize and products,2013,vegetal,102.0,NaN,NaN,96.0,...,NaN,21.0,0.01,0.0,NaN,2977,0.000000e+00,1.086605e+10,0.000000,inf
3,1,Armenia,2515,Rye and products,2013,vegetal,1.0,NaN,0.00,1.0,...,NaN,1.0,0.02,0.0,0.0,2977,1.086605e+09,2.173210e+10,3041.666667,inf
4,1,Armenia,2516,Oats,2013,vegetal,6.0,NaN,0.03,4.0,...,NaN,5.0,0.09,0.0,NaN,2977,2.173210e+09,9.779445e+10,1972.972973,3.285000
5,1,Armenia,2517,Millet and products,2013,vegetal,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,2977,NaN,NaN,NaN,NaN
6,1,Armenia,2518,Sorghum and products,2013,vegetal,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,2977,NaN,NaN,NaN,NaN
7,1,Armenia,2520,"Cereals, Other",2013,vegetal,21.0,0.0,0.04,1.0,...,NaN,17.0,0.39,1.0,0.0,2977,1.521247e+10,4.237760e+11,2607.142857,2.372500
8,1,Armenia,2531,Potatoes and products,2013,vegetal,672.0,9.0,0.12,225.0,...,78.0,661.0,1.94,123.0,15.0,2977,8.910161e+10,2.108014e+12,663.636364,0.528433
9,1,Armenia,2532,Cassava and products,2013,vegetal,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,2977,NaN,NaN,NaN,NaN
10,1,Armenia,2534,"Roots, Other",2013,vegetal,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,2977,NaN,NaN,NaN,NaN
11,1,Armenia,2537,Sugar beet,2013,vegetal,55.0,NaN,NaN,1.0,...,54.0,55.0,NaN,NaN,NaN,2977,NaN,NaN,NaN,NaN
12,1,Armenia,2542,Sugar (Raw Equivalent),2013,vegetal,93.0,2.0,NaN,NaN,...,NaN,8.0,NaN,NaN,3.0,2977,3.281547e+11,NaN,3337.269149,NaN
13,1,Armenia,2543,"Sweeteners, Other",2013,vegetal,5.0,0.0,NaN,NaN,...,NaN,2.0,NaN,NaN,2.0,2977,1.955889e+10,NaN,3609.890110,NaN
14,1,Armenia,2546,Beans,2013,vegetal,5.0,NaN,NaN,5.0,...,NaN,5.0,NaN,0.0,NaN,2977,NaN,NaN,NaN,NaN
15,1,Armenia,2547,Peas,2013,vegetal,2.0,NaN,NaN,2.0,...,NaN,0.0,NaN,NaN,NaN,2977,NaN,NaN,NaN,NaN
16,1,Armenia,2549,"Pulses, Other and products",2013,vegetal,3.0,0.0,NaN,3.0,...,NaN,0.0,0.00,NaN,NaN,2977,0.000000e+00,0.000000e+00,NaN,NaN
17,1,Armenia,2551,Nuts and products,2013,vegetal,6.0,1.0,1.76,NaN,...,NaN,5.0,0.42,NaN,0.0,2977,1.955889e+10,4.563741e+11,3055.813953,2.555000
18,1,Armenia,2555,Soyabeans,2013,vegetal,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,2977,0.000000e+00,NaN,NaN,NaN
19,1,Armenia,2556,Groundnuts (Shelled Eq),2013,vegetal,1.0,0.0,0.55,NaN,...,NaN,NaN,0.29,NaN,0.0,2977,6.519630e+09,3.151154e+11,5475.000000,10.585000

In [26]:
temp = data[data['item'].str.contains("Oats")]

In [27]:
temp = temp.replace([np.inf, -np.inf], np.nan).dropna(subset=["protein_percentage"], how="all")

In [28]:
temp = temp[temp['protein_supply_quantity_gcapitaday'] > 0]

In [29]:
temp['protein_percentage'].mean()

2.0805797229791376

- La teneur en protéine de l'avoine est en moyenne de 2,1%

## Question 5

In [30]:
temp = data.replace([np.inf, -np.inf], np.nan).dropna(subset=["kcal/kg"], how="all")
temp.pivot_table(
    index=["item_code","item","year","origin"],
    values=["kcal/kg"], aggfunc=np.mean).sort_values(by='kcal/kg', ascending=False).head(20)

                                                     kcal/kg
item_code item                     year origin
2577      Palm Oil                 2013 vegetal  8791.217534
2571      Soyabean Oil             2013 vegetal  8625.483876
2581      Ricebran Oil             2013 vegetal  8497.969939
2574      Rape and Mustard Oil     2013 vegetal  8368.869607
2573      Sunflowerseed Oil        2013 vegetal  8305.568299
2586      Oilcrops Oil, Other      2013 vegetal  8246.215771
2575      Cottonseed Oil           2013 vegetal  8177.340910
2578      Coconut Oil              2013 vegetal  8097.752477
2576      Palmkernel Oil           2013 vegetal  7885.602997
2582      Maize Germ Oil           2013 vegetal  7827.167158
2572      Groundnut Oil            2013 vegetal  7803.918649
2580      Olive Oil                2013 vegetal  7774.263485
2737      Fats, Animals, Raw       2013 animal   7579.278844
2579      Sesameseed Oil           2013 vegetal  7482.722820
2781      Fish, Body Oil           2013 animal   7133.945055
2740      Butter, Ghee             2013 animal   6946.278887
2562      Palm kernels             2013 vegetal  5475.000000
2556      Groundnuts (Shelled Eq)  2013 vegetal  5466.324644
2561      Sesame seed              2013 vegetal  5010.932143
2633      Cocoa Beans and products 2013 vegetal  4343.034036

- Parmi les 20 aliments les plus caloriques, on peut citer toutes les huiles, le riz, le sucre, les pois et les graines de sesame

In [31]:
temp = data.replace([np.inf, -np.inf], np.nan).dropna(subset=["protein_percentage"], how="all")
temp.pivot_table(
    index=["item_code","item","year","origin"],
    values=["protein_percentage"], aggfunc=np.mean).sort_values(by='protein_percentage', ascending=False).head(20)

                                                   protein_percentage
item_code item                       year origin
2734      Poultry Meat               2013 animal            12.341237
2731      Bovine Meat                2013 animal            11.315275
2733      Pigmeat                    2013 animal            10.015138
2763      Pelagic Fish               2013 animal             9.496127
2549      Pulses, Other and products 2013 vegetal            8.985491
2764      Marine Fish, Other         2013 animal             8.773286
2511      Wheat and products         2013 vegetal            7.620494
2736      Offals, Edible             2013 animal             6.747168
2556      Groundnuts (Shelled Eq)    2013 vegetal            6.529281
2744      Eggs                       2013 animal             6.449287
2805      Rice (Milled Equivalent)   2013 vegetal            6.409196
2555      Soyabeans                  2013 vegetal            5.855907
2762      Demersal Fish              2013 animal             5.741089
2547      Peas                       2013 vegetal            5.626243
2546      Beans                      2013 vegetal            5.362531
2732      Mutton & Goat Meat         2013 animal             4.518097
2735      Meat, Other                2013 animal             4.448260
2765      Crustaceans                2013 animal             4.147486
2514      Maize and products         2013 vegetal            3.441945
2848      Milk - Excluding Butter    2013 animal             3.427677

- Parmi les 20 aliments les plus riches en protéines, on peut citer:
    les viandes & poissons, les lentilles, la farine, le soja, les noix

## Question 6

In [32]:
temp = data[data['origin'] == "vegetal"]

## Question 7

In [33]:
temp['total_kcal'].sum()/1000000000/2000/365

8.2898759275

- La disponibilité intérieure mondiale de produits végétaux permettrait de nourrir 8,3 milliards de personnes
(à raison d'un apport de 2000 Calories par jour et par personnes)

In [34]:
temp['total_protein_kg'].sum()/1000000000/0.05/365

6860363.9734

- La disponibilité intérieure mondiale de protéines végétales permettrait de nourrir 6860 milliards de personnes
(à raison d'un apport moyen de 50g de protéines par jour et par personne) ???

## Question 10

In [35]:
df10 = pd.read_csv("Q10.csv", usecols = ["Produit", "Valeur"])

In [36]:
(df10['Valeur'] * 1000 / pop['total_population'].sum()) * 100

0    11.730195
Name: Valeur, dtype: float64

- Le pourcentage de la population mondiale en situation de sous-nutrition est de 11.7 %

## Question 11

In [37]:
# Liste des codes produit classés par la FAO dans la catégorie Céréales
cereals = [2511, 2513, 2514, 2515, 2516, 2517, 2518, 2520, 2805]

for item_code in cereals:
    data['is_cereal'] = np.where(data['item_code'] == item_code, True, False)

# Test if values have been updated as wanted
data.query('item_code == 2805')

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,production,protein_supply_quantity_gcapitaday,seed,stock_variation,total_population,total_kcal,total_protein_kg,kcal/kg,protein_percentage,is_cereal
87,1,Armenia,2805,Rice (Milled Equivalent),2013,vegetal,10.0,0.0,0.11,0.0,...,NaN,0.66,NaN,0.0,2977,3.694457e+10,7.171593e+11,3902.515723,2.676667,True
147,2,Afghanistan,2805,Rice (Milled Equivalent),2013,vegetal,461.0,NaN,0.27,NaN,...,342.0,2.70,14.0,NaN,30552,1.572359e+12,3.010900e+13,3723.950796,0.233531,True
239,3,Albania,2805,Rice (Milled Equivalent),2013,vegetal,25.0,0.0,0.16,0.0,...,0.0,1.34,0.0,0.0,3173,7.875386e+10,1.551914e+12,3190.231362,1.956400,True
332,4,Algeria,2805,Rice (Milled Equivalent),2013,vegetal,118.0,0.0,0.04,2.0,...,0.0,0.57,0.0,0.0,39208,4.293276e+11,8.157224e+12,3686.868687,0.177821,True
412,7,Angola,2805,Rice (Milled Equivalent),2013,vegetal,337.0,0.0,0.12,NaN,...,25.0,1.56,1.0,0.0,21472,6.426570e+11,1.222616e+13,3685.960591,0.327241,True
503,8,Antigua and Barbuda,2805,Rice (Milled Equivalent),2013,vegetal,1.0,NaN,0.52,NaN,...,NaN,2.28,NaN,-1.0,90,3.613500e+09,7.489800e+10,4244.186047,83.220000,True
596,9,Argentina,2805,Rice (Milled Equivalent),2013,vegetal,452.0,561.0,0.23,NaN,...,1043.0,1.81,26.0,-41.0,41446,1.361501e+12,2.738130e+13,3745.724059,0.181497,True
691,10,Australia,2805,Rice (Milled Equivalent),2013,vegetal,388.0,488.0,0.18,NaN,...,774.0,1.93,8.0,-55.0,23343,8.605397e+11,1.644398e+13,3342.248413,0.273043,True
786,11,Austria,2805,Rice (Milled Equivalent),2013,vegetal,36.0,4.0,0.07,0.0,...,NaN,0.68,NaN,0.0,8495,1.116243e+11,2.108459e+12,3551.351351,0.800645,True
876,12,Bahamas,2805,Rice (Milled Equivalent),2013,vegetal,11.0,0.0,0.49,NaN,...,NaN,4.85,NaN,0.0,377,3.343802e+10,6.673842e+11,3700.250313,19.669444,True
968,14,Barbados,2805,Rice (Milled Equivalent),2013,vegetal,5.0,0.0,0.60,0.0,...,NaN,3.48,NaN,0.0,285,1.768425e+10,3.620070e+11,3962.324393,31.755000,True
1062,16,Bangladesh,2805,Rice (Milled Equivalent),2013,vegetal,30432.0,1.0,3.78,1031.0,...,34350.0,32.14,788.0,-4177.0,156595,9.779593e+13,1.837032e+15,3636.609794,0.043623,True
1143,17,Bermuda,2805,Rice (Milled Equivalent),2013,vegetal,1.0,NaN,0.13,NaN,...,NaN,1.01,NaN,0.0,65,1.281150e+09,2.396225e+10,3663.568773,inf,True
1236,19,Bolivia (Plurinational State of),2805,Rice (Milled Equivalent),2013,vegetal,314.0,2.0,0.47,3.0,...,295.0,5.65,7.0,-13.0,10671,1.113946e+12,2.200627e+13,3867.728788,0.716059,True
1330,20,Botswana,2805,Rice (Milled Equivalent),2013,vegetal,15.0,10.0,0.14,NaN,...,NaN,1.27,NaN,0.0,2021,5.089888e+10,9.368346e+11,3567.280453,3.311071,True
1426,21,Brazil,2805,Rice (Milled Equivalent),2013,vegetal,8198.0,814.0,0.54,NaN,...,7843.0,6.44,120.0,451.0,200362,2.384107e+13,4.709709e+14,3703.392468,0.036517,True
1515,23,Belize,2805,Rice (Milled Equivalent),2013,vegetal,12.0,0.0,0.45,NaN,...,14.0,5.47,0.0,-2.0,332,3.344568e+10,6.628546e+11,3544.686840,22.183889,True
1593,25,Solomon Islands,2805,Rice (Milled Equivalent),2013,vegetal,49.0,0.0,1.36,0.0,...,3.0,10.90,0.0,0.0,561,1.275686e+11,2.231938e+12,3566.420954,11.051389,True
1688,26,Brunei Darussalam,2805,Rice (Milled Equivalent),2013,vegetal,44.0,0.0,1.84,7.0,...,1.0,13.56,0.0,8.0,418,1.142749e+11,2.068849e+12,3565.736272,15.466875,True
1781,27,Bulgaria,2805,Rice (Milled Equivalent),2013,vegetal,24.0,41.0,0.12,5.0,...,37.0,0.54,2.0,0.0,7223,6.854627e+10,1.423653e+12,4236.607143,1.231875,True
1866,28,Myanmar,2805,Rice (Milled Equivalent),2013,vegetal,19596.0,512.0,5.50,7882.0,...,19188.0,28.87,556.0,900.0,53259,2.398839e+13,5.612194e+14,3391.641566,0.148983,True
1960,32,Cameroon,2805,Rice (Milled Equivalent),2013,vegetal,721.0,1.0,0.23,NaN,...,129.0,4.23,6.0,-163.0,22254,1.941328e+12,3.435906e+13,3657.651992,0.290763,True
2056,33,Canada,2805,Rice (Milled Equivalent),2013,vegetal,496.0,140.0,0.25,NaN,...,NaN,2.54,NaN,0.0,35182,1.733593e+12,3.261723e+13,3895.256917,0.208337,True
2138,35,Cabo Verde,2805,Rice (Milled Equivalent),2013,vegetal,40.0,0.0,0.67,NaN,...,NaN,9.39,NaN,4.0,499,8.869974e+10,1.710248e+12,3646.256410,14.280625,True
2223,37,Central African Republic,2805,Rice (Milled Equivalent),2013,vegetal,36.0,0.0,0.11,NaN,...,25.0,1.49,1.0,3.0,4616,1.297327e+11,2.510412e+12,3803.112314,1.599559,True
2318,38,Sri Lanka,2805,Rice (Milled Equivalent),2013,vegetal,2613.0,11.0,1.43,0.0,...,3082.0,20.24,61.0,-481.0,21273,8.246053e+12,1.571564e+14,3532.901932,0.316521,True
2391,39,Chad,2805,Rice (Milled Equivalent),2013,vegetal,159.0,0.0,0.15,NaN,...,220.0,2.08,7.0,-62.0,12825,5.055615e+11,9.736740e+12,3646.623497,0.546187,True
2484,40,Chile,2805,Rice (Milled Equivalent),2013,vegetal,203.0,0.0,0.14,NaN,...,87.0,1.70,2.0,0.0,17620,5.530918e+11,1.093321e+13,3546.892655,0.397756,True
2580,41,"China, mainland",2805,Rice (Milled Equivalent),2013,vegetal,133507.0,544.0,2.72,12052.0,...,135809.0,14.62,4669.0,-4002.0,1385567,4.071142e+14,7.393801e+15,3758.314147,0.004926,True
2676,44,Colombia,2805,Rice (Milled Equivalent),2013,vegetal,1562.0,0.0,0.47,29.0,...,1367.0,5.63,67.0,49.0,48321,5.026592e+12,9.929724e+13,3712.526767,0.151769,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12990,210,Sweden,2805,Rice (Milled Equivalent),2013,vegetal,59.0,1.0,0.10,1.0,...,NaN,1.13,NaN,0.0,9571,2.061115e+11,3.947559e+12,3613.255034,0.723596,True
13085,211,Switzerland,2805,Rice (Milled Equivalent),2013,vegetal,120.0,1.0,0.05,100.0,...,NaN,0.45,NaN,0.0,8078,7.076328e+10,1.326812e+12,3604.938272,0.821250,True
13143,213,Turkmenistan,2805,Rice (Milled Equivalent),2013,vegetal,67.0,NaN,0.21,NaN,...,67.0,2.02,8.0,NaN,5240,2.065608e+11,3.863452e+12,3606.587374,1.293509,True
13236,214,"China, Taiwan Province of",2805,Rice (Milled Equivalent),2013,vegetal,1171.0,10.0,0.85,65.0,...,1063.0,8.07,10.0,0.0,23330,3.704221e+12,6.871968e+13,3462.922574,0.275285,True
13332,215,United Republic of Tanzania,2805,Rice (Milled Equivalent),2013,vegetal,1178.0,53.0,0.29,NaN,...,1464.0,3.92,56.0,-357.0,49253,3.667378e+12,7.047119e+13,3544.026654,0.138242,True
13427,216,Thailand,2805,Rice (Milled Equivalent),2013,vegetal,13605.0,6860.0,2.50,2405.0,...,24054.0,19.97,606.0,-3638.0,67011,2.785882e+13,4.884465e+14,3628.654971,0.094947,True
13517,217,Togo,2805,Rice (Milled Equivalent),2013,vegetal,188.0,6.0,0.90,NaN,...,64.0,5.47,4.0,-21.0,6817,6.369805e+11,1.361048e+13,3595.228934,1.127994,True
13608,220,Trinidad and Tobago,2805,Rice (Milled Equivalent),2013,vegetal,24.0,6.0,0.67,1.0,...,2.0,3.68,0.0,0.0,1341,8.761424e+10,1.801231e+12,3988.705739,6.105455,True
13702,221,Oman,2805,Rice (Milled Equivalent),2013,vegetal,218.0,16.0,1.08,1.0,...,NaN,10.38,NaN,0.0,3632,7.397294e+11,1.376056e+13,3601.591512,1.848146,True
13794,222,Tunisia,2805,Rice (Milled Equivalent),2013,vegetal,12.0,0.0,0.01,NaN,...,NaN,0.21,NaN,0.0,10997,4.415296e+10,8.429200e+11,3752.336449,0.638750,True
13887,223,Turkey,2805,Rice (Milled Equivalent),2013,vegetal,833.0,9.0,0.21,NaN,...,600.0,1.69,9.0,0.0,74933,2.653003e+12,4.622242e+13,3296.554935,0.076627,True
13979,225,United Arab Emirates,2805,Rice (Milled Equivalent),2013,vegetal,854.0,272.0,1.08,2.0,...,NaN,10.33,NaN,-51.0,9346,1.893266e+12,3.523863e+13,3601.333333,0.716816,True
14074,226,Uganda,2805,Rice (Milled Equivalent),2013,vegetal,188.0,71.0,0.07,NaN,...,143.0,0.87,6.0,0.0,37579,6.172351e+11,1.193321e+13,3539.870690,0.182500,True
14169,229,United Kingdom,2805,Rice (Milled Equivalent),2013,vegetal,457.0,205.0,0.13,7.0,...,NaN,1.28,NaN,0.0,63384,1.573191e+12,2.961300e+13,3884.194053,0.115358,True
14260,230,Ukraine,2805,Rice (Milled Equivalent),2013,vegetal,145.0,21.0,0.06,NaN,...,97.0,0.54,5.0,0.0,45239,4.788548e+11,8.916607e+12,3528.333333,0.146000,True
14355,231,United States of America,2805,Rice (Milled Equivalent),2013,vegetal,3119.0,3522.0,0.08,NaN,...,5745.0,1.33,109.0,-27.0,320051,8.410940e+12,1.553688e+14,3819.767442,0.022036,True
14443,233,Burkina Faso,2805,Rice (Milled Equivalent),2013,vegetal,434.0,3.0,0.30,34.0,...,204.0,3.92,5.0,-249.0,16935,1.279524e+12,2.423060e+13,3525.664956,0.394160,True
14536,234,Uruguay,2805,Rice (Milled Equivalent),2013,vegetal,74.0,879.0,0.21,NaN,...,907.0,2.29,17.0,45.0,3407,1.442524e+11,2.847741e+12,3681.739130,2.143205,True
14619,235,Uzbekistan,2805,Rice (Milled Equivalent),2013,vegetal,127.0,0.0,0.07,2.0,...,227.0,0.69,7.0,-100.0,28934,3.907537e+11,7.287028e+12,3489.664083,0.224866,True
14715,236,Venezuela (Bolivarian Republic of),2805,Rice (Milled Equivalent),2013,vegetal,1019.0,0.0,0.37,260.0,...,583.0,4.43,17.0,-42.0,30405,2.485913e+12,4.916336e+13,3495.510902,0.227419,True
14796,237,Viet Nam,2805,Rice (Milled Equivalent),2013,vegetal,21391.0,6951.0,4.60,2712.0,...,29374.0,28.34,881.0,-1034.0,91680,4.651385e+13,9.483471e+14,3509.615385,0.078051,True
14887,238,Ethiopia,2805,Rice (Milled Equivalent),2013,vegetal,212.0,0.0,0.04,NaN,...,123.0,0.40,NaN,0.0,94101,7.556310e+11,1.373875e+13,3568.888889,0.068868,True
14963,244,Samoa,2805,Rice (Milled Equivalent),2013,vegetal,1.0,0.0,0.13,NaN,...,NaN,1.10,NaN,0.0,190,4.299700e+09,7.628500e+10,3759.136213,40.150000,True
15056,249,Yemen,2805,Rice (Milled Equivalent),2013,vegetal,436.0,2.0,0.34,NaN,...,NaN,3.40,NaN,0.0,24407,1.576814e+12,3.028909e+13,3721.486175,0.292689,True
15149,251,Zambia,2805,Rice (Milled Equivalent),2013,vegetal,47.0,0.0,0.05,NaN,...,30.0,0.57,1.0,0.0,14539,1.592020e+11,3.024839e+12,3590.163934,0.472841,True
15244,255,Belgium,2805,Rice (Milled Equivalent),2013,vegetal,162.0,276.0,0.19,64.0,...,NaN,1.62,NaN,18.0,11104,3.647664e+11,6.565795e+12,3815.331010,0.615938,True
15337,256,Luxembourg,2805,Rice (Milled Equivalent),2013,vegetal,2.0,0.0,0.12,0.0,...,NaN,0.84,NaN,NaN,530,8.511800e+09,1.624980e+11,3823.809524,15.330000,True
15429,272,Serbia,2805,Rice (Milled Equivalent),2013,vegetal,12.0,1.0,0.03,NaN,...,NaN,0.23,NaN,0.0,9511,4.165818e+10,7.984484e+11,3590.163934,0.699583,True
15518,273,Montenegro,2805,Rice (Milled Equivalent),2013,vegetal,1.0,0.0,0.04,NaN,...,NaN,0.42,NaN,NaN,621,4.986630e+09,9.519930e+10,3584.821429,15.330000,True
15602,276,Sudan,2805,Rice (Milled Equivalent),2013,vegetal,49.0,NaN,0.05,NaN,...,17.0,0.28,1.0,0.0,37964,1.939960e+11,3.879921e+12,4023.622047,0.212917,True

In [38]:
data.query('item_code == 2543')

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,production,protein_supply_quantity_gcapitaday,seed,stock_variation,total_population,total_kcal,total_protein_kg,kcal/kg,protein_percentage,is_cereal
13,1,Armenia,2543,"Sweeteners, Other",2013,vegetal,5.0,0.0,NaN,NaN,...,2.0,NaN,NaN,2.0,2977,1.955889e+10,NaN,3609.890110,NaN,False
99,2,Afghanistan,2543,"Sweeteners, Other",2013,vegetal,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30552,2.230296e+10,NaN,1377.358491,NaN,False
164,3,Albania,2543,"Sweeteners, Other",2013,vegetal,93.0,3.0,NaN,NaN,...,NaN,NaN,NaN,0.0,3173,1.853032e+10,NaN,200.068517,NaN,False
257,4,Algeria,2543,"Sweeteners, Other",2013,vegetal,24.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,39208,8.586552e+10,NaN,3650.000000,NaN,False
347,7,Angola,2543,"Sweeteners, Other",2013,vegetal,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,21472,0.000000e+00,NaN,0.000000,NaN,False
430,8,Antigua and Barbuda,2543,"Sweeteners, Other",2013,vegetal,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,-1.0,90,6.898500e+08,NaN,1644.849785,NaN,False
520,9,Argentina,2543,"Sweeteners, Other",2013,vegetal,279.0,83.0,NaN,NaN,...,351.0,0.01,NaN,0.0,41446,9.984341e+11,1.512779e+11,3579.494799,0.001308,False
615,10,Australia,2543,"Sweeteners, Other",2013,vegetal,224.0,51.0,NaN,NaN,...,55.0,NaN,NaN,0.0,23343,1.022423e+11,NaN,476.605005,NaN,False
710,11,Austria,2543,"Sweeteners, Other",2013,vegetal,294.0,332.0,NaN,NaN,...,429.0,0.01,NaN,0.0,8495,1.116243e+11,3.100675e+10,2939.597315,0.009605,False
802,12,Bahamas,2543,"Sweeteners, Other",2013,vegetal,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,1.0,377,6.054620e+09,NaN,1796.420582,NaN,False
894,14,Barbados,2543,"Sweeteners, Other",2013,vegetal,4.0,1.0,NaN,NaN,...,NaN,NaN,NaN,0.0,285,1.664400e+09,NaN,2453.781513,NaN,False
986,16,Bangladesh,2543,"Sweeteners, Other",2013,vegetal,356.0,0.0,NaN,NaN,...,336.0,NaN,NaN,0.0,156595,3.429430e+11,NaN,2380.434783,NaN,False
1075,17,Bermuda,2543,"Sweeteners, Other",2013,vegetal,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,65,2.396225e+09,NaN,1826.808722,NaN,False
1160,19,Bolivia (Plurinational State of),2543,"Sweeteners, Other",2013,vegetal,8.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,10671,1.947458e+10,NaN,2370.129870,NaN,False
1254,20,Botswana,2543,"Sweeteners, Other",2013,vegetal,12.0,2.0,NaN,NaN,...,0.0,NaN,NaN,0.0,2021,2.729360e+10,NaN,2373.462214,NaN,False
1349,21,Brazil,2543,"Sweeteners, Other",2013,vegetal,142.0,11.0,NaN,NaN,...,96.0,0.00,NaN,NaN,200362,4.387928e+11,0.000000e+00,3268.656716,0.000000,False
1442,23,Belize,2543,"Sweeteners, Other",2013,vegetal,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,332,6.059000e+08,NaN,1659.090909,NaN,False
1529,25,Solomon Islands,2543,"Sweeteners, Other",2013,vegetal,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,561,8.190600e+08,NaN,1946.666667,NaN,False
1612,26,Brunei Darussalam,2543,"Sweeteners, Other",2013,vegetal,13.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,418,1.373130e+10,NaN,1631.082423,NaN,False
1705,27,Bulgaria,2543,"Sweeteners, Other",2013,vegetal,40.0,156.0,NaN,NaN,...,164.0,0.00,NaN,0.0,7223,3.954592e+10,0.000000e+00,2310.126582,0.000000,False
1798,28,Myanmar,2543,"Sweeteners, Other",2013,vegetal,481.0,0.0,NaN,NaN,...,440.0,NaN,NaN,NaN,53259,2.332744e+11,NaN,2881.578947,NaN,False
1884,32,Cameroon,2543,"Sweeteners, Other",2013,vegetal,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,22254,1.624542e+10,NaN,4562.500000,NaN,False
1979,33,Canada,2543,"Sweeteners, Other",2013,vegetal,539.0,316.0,NaN,NaN,...,396.0,0.01,NaN,0.0,35182,1.219936e+12,1.284143e+11,2284.255599,0.000684,False
2071,35,Cabo Verde,2543,"Sweeteners, Other",2013,vegetal,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,499,1.092810e+09,NaN,1622.222222,NaN,False
2155,37,Central African Republic,2543,"Sweeteners, Other",2013,vegetal,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,4616,0.000000e+00,NaN,0.000000,NaN,False
2241,38,Sri Lanka,2543,"Sweeteners, Other",2013,vegetal,8.0,2.0,0.0,NaN,...,NaN,0.00,NaN,1.0,21273,3.105858e+10,0.000000e+00,4055.555556,0.000000,False
2334,39,Chad,2543,"Sweeteners, Other",2013,vegetal,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12825,4.681125e+09,NaN,3041.666667,NaN,False
2408,40,Chile,2543,"Sweeteners, Other",2013,vegetal,57.0,12.0,NaN,NaN,...,NaN,0.00,NaN,0.0,17620,1.414886e+11,0.000000e+00,2788.194444,0.000000,False
2504,41,"China, mainland",2543,"Sweeteners, Other",2013,vegetal,96.0,1085.0,NaN,NaN,...,1078.0,0.00,NaN,0.0,1385567,5.057320e+11,0.000000e+00,5214.285714,0.000000,False
2600,44,Colombia,2543,"Sweeteners, Other",2013,vegetal,34.0,9.0,NaN,NaN,...,18.0,NaN,NaN,0.0,48321,1.058230e+11,NaN,3318.181818,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12914,210,Sweden,2543,"Sweeteners, Other",2013,vegetal,48.0,51.0,NaN,NaN,...,22.0,NaN,NaN,0.0,9571,5.589464e+10,NaN,2093.189964,NaN,False
13009,211,Switzerland,2543,"Sweeteners, Other",2013,vegetal,50.0,154.0,NaN,NaN,...,33.0,0.00,NaN,36.0,8078,9.140257e+10,0.000000e+00,3125.690608,0.000000,False
13098,213,Turkmenistan,2543,"Sweeteners, Other",2013,vegetal,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5240,1.147560e+10,NaN,1440.789474,NaN,False
13161,214,"China, Taiwan Province of",2543,"Sweeteners, Other",2013,vegetal,74.0,84.0,NaN,NaN,...,123.0,0.00,NaN,1.0,23330,2.214017e+11,0.000000e+00,3261.168385,0.000000,False
13256,215,United Republic of Tanzania,2543,"Sweeteners, Other",2013,vegetal,5.0,5.0,NaN,NaN,...,NaN,NaN,NaN,4.0,49253,1.797734e+10,NaN,4055.555556,NaN,False
13351,216,Thailand,2543,"Sweeteners, Other",2013,vegetal,147.0,62.0,NaN,NaN,...,117.0,0.00,NaN,0.0,67011,5.136393e+11,0.000000e+00,3516.055046,0.000000,False
13443,217,Togo,2543,"Sweeteners, Other",2013,vegetal,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,6817,0.000000e+00,NaN,0.000000,NaN,False
13535,220,Trinidad and Tobago,2543,"Sweeteners, Other",2013,vegetal,4.0,0.0,NaN,NaN,...,NaN,0.00,NaN,0.0,1341,1.468395e+10,0.000000e+00,3590.163934,0.000000,False
13627,221,Oman,2543,"Sweeteners, Other",2013,vegetal,21.0,1.0,NaN,NaN,...,NaN,NaN,NaN,0.0,3632,2.518792e+10,NaN,1643.364929,NaN,False
13719,222,Tunisia,2543,"Sweeteners, Other",2013,vegetal,7.0,11.0,NaN,NaN,...,4.0,NaN,NaN,0.0,10997,1.605562e+10,NaN,2147.058824,NaN,False
13812,223,Turkey,2543,"Sweeteners, Other",2013,vegetal,-39.0,162.0,NaN,NaN,...,72.0,0.00,NaN,7.0,74933,2.735054e+10,0.000000e+00,2281.250000,0.000000,False
13904,225,United Arab Emirates,2543,"Sweeteners, Other",2013,vegetal,27.0,2.0,NaN,NaN,...,NaN,NaN,NaN,-2.0,9346,3.411290e+09,NaN,3650.000000,NaN,False
13998,226,Uganda,2543,"Sweeteners, Other",2013,vegetal,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,37579,1.371634e+10,NaN,6083.333333,NaN,False
14093,229,United Kingdom,2543,"Sweeteners, Other",2013,vegetal,785.0,183.0,NaN,NaN,...,307.0,0.00,NaN,1.0,63384,2.776219e+11,0.000000e+00,2281.250000,0.000000,False
14186,230,Ukraine,2543,"Sweeteners, Other",2013,vegetal,227.0,59.0,NaN,NaN,...,268.0,NaN,NaN,NaN,45239,4.953670e+11,NaN,2212.121212,NaN,False
14279,231,United States of America,2543,"Sweeteners, Other",2013,vegetal,10757.0,2731.0,NaN,NaN,...,12775.0,0.17,NaN,-25.0,320051,3.212512e+13,1.985916e+13,3198.693435,0.000618,False
14372,233,Burkina Faso,2543,"Sweeteners, Other",2013,vegetal,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,16935,1.236255e+10,NaN,1972.972973,NaN,False
14461,234,Uruguay,2543,"Sweeteners, Other",2013,vegetal,27.0,0.0,NaN,NaN,...,1.0,0.02,NaN,0.0,3407,7.834396e+10,2.487110e+10,2936.781609,0.027037,False
14550,235,Uzbekistan,2543,"Sweeteners, Other",2013,vegetal,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,28934,0.000000e+00,NaN,NaN,NaN,False
14639,236,Venezuela (Bolivarian Republic of),2543,"Sweeteners, Other",2013,vegetal,27.0,0.0,NaN,NaN,...,NaN,0.00,NaN,NaN,30405,8.878260e+10,0.000000e+00,3318.181818,0.000000,False
14728,237,Viet Nam,2543,"Sweeteners, Other",2013,vegetal,44.0,8.0,NaN,NaN,...,NaN,NaN,NaN,0.0,91680,1.003896e+11,NaN,2281.250000,NaN,False
14813,238,Ethiopia,2543,"Sweeteners, Other",2013,vegetal,5.0,0.0,NaN,NaN,...,1.0,NaN,NaN,0.0,94101,0.000000e+00,NaN,0.000000,NaN,False
14903,244,Samoa,2543,"Sweeteners, Other",2013,vegetal,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,190,1.387000e+08,NaN,3173.913043,NaN,False
14981,249,Yemen,2543,"Sweeteners, Other",2013,vegetal,64.0,1.0,NaN,NaN,...,5.0,NaN,NaN,0.0,24407,1.336283e+11,NaN,2089.694656,NaN,False
15074,251,Zambia,2543,"Sweeteners, Other",2013,vegetal,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.0,14539,2.122694e+10,NaN,3395.348837,NaN,False
15168,255,Belgium,2543,"Sweeteners, Other",2013,vegetal,447.0,339.0,NaN,NaN,...,28.0,0.01,NaN,NaN,11104,9.321808e+10,4.052960e+10,2215.039578,0.008690,False
15261,256,Luxembourg,2543,"Sweeteners, Other",2013,vegetal,21.0,2.0,NaN,NaN,...,NaN,NaN,NaN,-6.0,530,3.230615e+10,NaN,1583.246753,NaN,False
15354,272,Serbia,2543,"Sweeteners, Other",2013,vegetal,41.0,139.0,NaN,NaN,...,116.0,NaN,NaN,NaN,9511,1.388606e+10,NaN,1972.972973,NaN,False
15446,273,Montenegro,2543,"Sweeteners, Other",2013,vegetal,16.0,0.0,NaN,NaN,...,1.0,NaN,NaN,NaN,621,2.470648e+10,NaN,1564.490759,NaN,False
15536,276,Sudan,2543,"Sweeteners, Other",2013,vegetal,18.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,37964,6.928430e+10,NaN,3802.083333,NaN,False

## Question 14

- En thaïlande, 6,1 millions de personnes sont sous alimentées en 2013

In [39]:
pop.query('country == "Thailand"')

                                                 total_population
country_code country  item_code item       year
216          Thailand 2501      Population 2013             67011

In [40]:
(6100000/(67011000)) * 100

9.102983092328126

- Soit 9.1 % de la population de ce pays.

In [41]:
temp = data[data['item'].str.contains("Cassava")]

In [42]:
temp = temp.query('country == "Thailand"')

In [43]:
temp['export_quantity'] / temp['production'] * 100

13344    83.41273
dtype: float64

- La proportion de manioc exportée de la Thaïlande est de 83.4 %